body {
  margin: 0;
  padding: 0;
  background: black;
  background-size: cover;
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite; }

#haunted img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  animation: lightning 2.5s infinite; }

@keyframes lightning {
  0% {
    filter: brightness(20%); }
  48% {
    filter: brightness(18%); }
  50% {
    filter: sepia(1) contrast(2) brightness(200%); }
  53% {
    filter: brightness(400%); }
  55% {
    filter: brightness(10%); }
  57% {
    filter: sepia(1) contrast(2) brightness(200%); }
  65% {
    filter: brightness(10%); }
  86% {
    filter: brightness(200%); }
  90% {
    filter: sepia(1) contrast(3) brightness(200%); }
  96% {
    filter: brightness(10%); } }

@keyframes shake {
  10%,
  90% {
    transform: translateX(-2px); }
  20%,
  80% {
    transform: translateX(2px); }
  30%,
  50%,
  70% {
    transform: translateX(-4px); }
  40%,
  60% {
    transform: translateX(4px); } }
